name: Build PR

on:
  workflow_dispatch:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test Build

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (no push)
        uses: docker/build-push-action@v6
        with:
          push: false
          context: .
          tags: ghcr.io/shanemcc/docker-duoauthproxy:pr-${{ github.event.number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
